:root {
  --color-accent: #0faf51;
  --color-black: #000000;
  --color-count: #747474;
  --color-count-bg: #f9f9fb;

  --font-regular: 400;
  --font-bold: 700;

  --font-md: 1.125rem;
  --font-lg: 2.25rem;

  --ff-open-sans: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: var(--ff-open-sans);
  font-size: var(--font-md);
}
/* ==================================== */
/*              HEADER                  */
/* ==================================== */
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 1.24rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta {
  background-color: white;
  padding: 1rem 1.5rem;
  border: 1px solid #e2e4e8;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-md);
}
.main {
  padding: 5rem 0;
}
.steps-indicator {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.step-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.step-info .count {
  padding: 1rem 1.5rem;
  color: var(--color-count);
  background-color: var(--color-count-bg);
  border-radius: 5px;
}
.count.active {
  background-color: var(--color-accent);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 2.5rem;
  }
  .steps-indicator {
    flex-direction: row;
    gap: 2.75rem;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    padding: 2.5rem 9.375rem;
  }
}
