:root {
  --color-accent: #0faf51;
  --color-black: #000000;

  --font-regular: 400;
  --font-bold: 700;

  --font-md: 1.125rem;
  --font-lg: 2.25rem;

  --ff-open-sans: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

/* ==================================== */
/*              HEADER                  */
/* ==================================== */
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 1.24rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta {
  background-color: white;
  padding: 1rem 1.5rem;
  border: 1px solid #e2e4e8;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-md);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    padding: 2.5rem 9.375rem;
  }
}
